.job-list-tile {
    display: flex;
    align-items: center;
    padding: 5%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
  }
  
  .job-list-tile .logo {
    width: 10%;
    height: auto;
    margin-right: 10px;
  }
  

  .job-list-tile .details {
    flex: 1;
  }
  
  .job-list-tile .title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .job-list-tile .company {
    font-size: 1.8em;
    color: #666;
    margin-bottom: 5px;
  }
  
  .job-list-tile .location {
    font-size: 1.5em;
    color: #666;
  }
  
  .job-list-tile .date {
    font-size: 1.5em;
    color: #999;
    margin-top: 5px;
  }
  
  /* Optional hover effect */
  .job-list-tile:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
  

  .job-page{
    padding: 10% 10%;
   
  }

  .filter{
    font-size: 1.8em;
  color: #232323;
  font-family: "Rubik", sans-serif;
  border: 1px solid #3a3b3c;
  border-radius: 3px;
  font-weight: 400;
  padding: 1.2rem 1.3rem;
  outline: none;
  margin-left: 70px;
  margin-bottom: 40px;
  }


  .cta a{
    font-size: 2em;
    color: white;
    text-decoration: none;
    background-color:  rgb(51, 111, 222);
    padding: 10px 30px;
  }